$backgroundColor: #efefef;
$radius: 40%;

form {
    display: inline-block;
    margin: auto;

    label {
        display: flex;
        margin: auto;

        &.methods {
            span {
                cursor: pointer;
                margin-left: 1rem;
                padding: .25rem .5rem;
                background: #2F4F4F;
                color: #000;
                border: solid #000 1px;
                border-radius: 15%;

                &:hover,
                &.active {
                    background: #fff;
                }

                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}